.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Karla';
    src: local('Karla'), url('./fonts/Karla-VariableFont_wght.ttf');
    font-weight: 400, 700;
}

:root {
    --padding-sm: .25rem;
    --padding-md: .50rem;
    --padding: 1rem;
    --padding-lg: 1.25rem;
    --font-family: 'Karla', sans-serif;

    /*  ### Primary
        - Green 200 (lighter): hsl(148, 38%, 91%)
        - Green 600 (medium): hsl(169, 82%, 27%)
        - Red: hsl(0, 66%, 54%)
    */
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red-400: hsl(0, 66%, 54%);

    /*  ### Neutral
        - White: hsl(0, 0%, 100%)
        - Grey 500 (medium): hsl(186, 15%, 59%)
        - Grey 900 (darker): hsl(187, 24%, 22%)
    */
    --neutral-0: hsl(0,0%,100%);
    --neutral-500: hsl(186, 15%, 59%);
    --neutral-900: hsl(187, 24%, 22%);
}

body {
    background-color: var(--green-200);
    padding: var(--padding);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--neutral-900);

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100svh;
}

footer {
    padding-block: var(--padding-sm);
}

main {
    min-width: calc(300px - (var(--padding)*2));
}

section {
    background-color: var(--neutral-0);
    padding: var(--padding-lg);
    border-radius: var(--padding);

    h1 {
        font-weight: 700;
        font-size: 1.5rem;
        padding-bottom: var(--padding-lg);
    }
}

form {
    display: grid;
    gap: var(--padding);

    div {
        display: grid;
        gap: var(--padding-sm);
    }
}

fieldset {
    border: none;
    display: grid;
    gap: var(--padding-md);
}

input[type="text"], input[type="email"], textarea {
    border: 1px solid var(--neutral-500);
    padding: var(--padding-md);
    border-radius: var(--padding-md);
    cursor: pointer;

    &:focus-visible {
        border-color: var(--green-600);
        outline: 1px solid var(--green-600);
    }

    &.error {
        border: 1px solid var(--red-400);
        outline: 1px solid var(--red-400);
    }
}

input[type="radio"] {
    accent-color: var(--green-600);
}

label[name="error"] {
    color: red;
    /* visibility: hidden;
    display: none; */
}

legend {
    padding-block: var(--padding-md);
}

.required {
    color: var(--green-600);
}

label.control {
    border: 1px solid var(--neutral-500);
    padding: var(--padding-md);
    border-radius: var(--padding-md);
    display: flex;
    gap: var(--padding-md);
    cursor: pointer;
    user-select: none;

    &:focus-within {
        background-color: var(--green-200);
        border-color: var(--green-600);
    }
}

label.checkbox {
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: auto 1fr; 
    grid-template-areas: 
        "checkbox message"
        "error error";
    gap: var(--padding-sm);
    margin-left: 1rem;
    cursor: pointer;

    input[type="checkbox"] {
        margin-left: -1rem;
        accent-color: var(--green-600);
        grid-area: checkbox;
    }

    span {
        grid-area: message;
    }

    label[name="error"] {
        grid-area: error;
    }
}

button {
    background-color: var(--green-600);
    color: var(--neutral-0);
    font-weight: 700;
    padding-block: var(--padding);
    border-radius: var(--padding-md);
    border: none;
}

/* Start: Modal Design */
aside[name="modal"] {
    position: absolute;
    top: var(--padding);
    left: 50%;
    transform: translateX(-50%);
    padding-block: var(--padding);
    padding-inline: var(--padding-lg);
    color: var(--neutral-0);
    width: fit-content;
    background-color: var(--neutral-900);
    border-radius: var(--padding-md);
    z-index: 1;
    min-width: 350px;

    h2 {
        display: flex;
        gap: var(--padding-md);
        padding-block: var(--padding-sm);
        font-size: 125%;
    }

    p {
        padding-block: var(--padding-sm);
    }
}
/* End: Modal Design */


@media (min-width: 500px) {

    main {
        width: clamp(30rem, 80% , 70ch);
        margin: auto;
    }

    .full {
        grid-column: span 2;
    }

    fieldset {
        display: grid;
        gap: var(--padding);
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 299px) {

    body {
        margin: 0;
        padding: 0;
    }

    body::before {
        position: relative;
        place-self: top;
        margin-inline: 10dvw;
        width: 80dvw;
        z-index: 1;
        background-color: red;
        margin-block: var(--padding-md);
        padding: var(--padding-md);
        content: 'Elements may shift out of view. \A\A Please resize browser to 300px or wider';
        color: white;
        text-align: center;
        white-space: pre-wrap;
    }
}